---
layout: default
title: Home
---

{% comment %}
{% if page.url == "/" %}

<!-- Featured
================================================== -->
<section class="featured-posts">
    <div class="section-title">
        <h2><span>Featured</span></h2>
    </div>
    <div class="row">

    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>
</section>

{% endif %}
{% endcomment %}

<!-- Posts Index
================================================== -->
<section class="recent-posts container">

    <div class="section-title">

        <h2><span>게시글</span></h2>

    </div>

    <!-- for post in paginator.posts -->
    <div id="posts" class="d-flex flex-column listrecent">
        {{paginator}}
        {% assign limit1 = paginator.page | times: paginator.per_page %}
        {% for post in site.posts %}

        {% include postbox.html %}

        {% endfor %}
    </div>
</section>

<a id="post-footer" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"> a </a>

<!-- Pagination
================================================== -->
{% comment %}
<div class="bottompagination container">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>
{% endcomment %}

<!-- Script
================================================== -->

{% assign currPostCnt = 0 %}
{% assign paginate = 1 %}
<script>
var intersectionObserver = new IntersectionObserver(function(entries) {
    // If intersectionRatio is 0, the target is out of view
    // and we do not need to do anything.
    if (entries[0].intersectionRatio <= 0) return;

    console.log('Loaded new items');
});
// start observing
intersectionObserver.observe(document.querySelector('#post-footer'));
</script>
